<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApartmentManagement">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".RequestStatusActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminResidentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminApartmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminFeesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminPaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminVisitorsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminNoticesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminCreateNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminHomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FeeActivity"
            android:exported="false" />
    </application>

</manifest>
